<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is html homepage</h1>
    <h2>hello world!</h2>
    <p>iterating over a python list:</p>
    {%for item in content%}
    <p>{{item}}</p>
    {%endfor%}
    <h3>{{nameVal}}</h3>
    <p>{{r}}</p>
    {% for i in range(11) %}
        {% if i%2 == 0%}
            <p>This is odd no: {{i}}</p>
        {% elif i%5==0 %}
            <p>This is multiple of 5: {{i}}</p>
        {%endif%}
    {%endfor%}
</body>
</html>